pyparsing>=3.0.6,<3.1
codespell
pyasn1
asn1crypto
libsnmp<3
pysnmp
protobuf<=3.20
prompt_toolkit[shell]
pycodestyle
bitstruct
diskcache[cache]
humanfriendly
mock ; python_version < '3.0'
nala ; python_version >= '3.6'
